body{
  padding-top: 50px;
}

#trial{
  background-color: black;
}

#headerWrapper{
  position:relative;
  padding:0;
  margin:0;
  overflow:hidden;
  height:1000px;
  background-image: url(../images/headerlogo/background2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 1000px;
  background-position: top center;
  background-attachment: fixed;
}

#logotext{
  position: absolute;
  width: 100%;
  height: 180px;
  background-image: url(../images/headerlogo/text.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40% 200px;
  top: 60%;
  margin-top: -80px;

}

.img-thumb{
  width: auto;
  height: 300px;
}

#footer{
  margin-top: 50px;
}

img.details{
  width: 33%;
  margin: 15px auto;
}
